# Editor Config for consistent coding style - more info @ editorconfig.org
root = true

[*]
end_of_line = lf
trim_trailing_white_space = true
insert_final_newline = true

[*.{java}]
charset = utf-8
indent_style = space
indent_size = 4
max_length_size = 120

[*.{xml}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 2

